In [ ]:
import pandas as pd
import

In [ ]:
btc_data = get_crypto_data("BTC-USD","2017-11-09")
eth_data = get_crypto_data("ETH-USD","2017-11-09")

NameError: name 'get_crypto_data' is not defined

In [ ]:
btc_data

NameError: name 'btc_data' is not defined

In [ ]:
eth_data

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-11-09 00:00:00+00:00,308.644989,329.451996,307.056000,320.884003,893249984,0.0,0.0
2017-11-10 00:00:00+00:00,320.670990,324.717987,294.541992,299.252991,885985984,0.0,0.0
2017-11-11 00:00:00+00:00,298.585999,319.453003,298.191986,314.681000,842300992,0.0,0.0
2017-11-12 00:00:00+00:00,314.690002,319.153015,298.513000,307.907990,1613479936,0.0,0.0
2017-11-13 00:00:00+00:00,307.024994,328.415009,307.024994,316.716003,1041889984,0.0,0.0
...,...,...,...,...,...,...,...
2025-03-08 00:00:00+00:00,2139.797852,2232.327148,2107.728027,2201.510254,10533204814,0.0,0.0
2025-03-09 00:00:00+00:00,2201.708740,2210.313721,1991.193481,2015.509155,16103964994,0.0,0.0
2025-03-10 00:00:00+00:00,2015.430420,2150.706299,1812.766846,1861.151367,35005066442,0.0,0.0
2025-03-11 00:00:00+00:00,1859.777710,1961.797729,1760.941772,1919.844971,30898385863,0.0,0.0
2025-03-13 00:00:00+00:00,1908.093750,1911.790039,1886.411865,1889.794556,21762457600,0.0,0.0

In [ ]:
data = pd.DataFrame({
    'BTC_Close': btc_data['Close'],
    'ETH_Close': eth_data['Close']
})
data

                              BTC_Close    ETH_Close
Date
2017-11-09 00:00:00+00:00   7143.580078   320.884003
2017-11-10 00:00:00+00:00   6618.140137   299.252991
2017-11-11 00:00:00+00:00   6357.600098   314.681000
2017-11-12 00:00:00+00:00   5950.069824   307.907990
2017-11-13 00:00:00+00:00   6559.490234   316.716003
...                                 ...          ...
2025-03-08 00:00:00+00:00  86154.593750  2201.510254
2025-03-09 00:00:00+00:00  80601.039062  2015.509155
2025-03-10 00:00:00+00:00  78532.000000  1861.151367
2025-03-11 00:00:00+00:00  82862.210938  1919.844971
2025-03-13 00:00:00+00:00  83602.484375  1889.794556

[2681 rows x 2 columns]